section {
    background-color: #f2f4f8;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

section > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    background-color: #fabe0e;
}

.text {
    padding: 16px;
}

.stats {
    display: flex;
    flex-direction: column;
}
