<section class="servicos">
    <div class="title">
        <h1 class="playfair">UX & UI</h1>
    </div>
    <div class="text">
        <p>
            Somos especialistas em design de interfaces e experiência do usuário. Utilizamos o Figma para criar wireframes e prototipação <i class="playfair">pixel perfect</i> sempre com foco centrado no usuário. Entregamos os artefatos organizados e otimizados. Implementamos os arquivos de design em HTML5 e CSS limpos e responsivos.
        </p>
    </div>
    <div>
        <img src="assets/ui.jpg" alt="UX e UI">
    </div>
    <div class="text stats">
        <h2>
            Você <i class="playfair">sabia?</i>
        </h2>
        <h1>
            94%
        </h1>
        <p>
            dos usuários formam a primeira impressão de um site ou aplicativo com base no design
        </p>
    </div>
    <div class="text stats">
        <h2>
            Você <i class="playfair">sabia?</i>
        </h2>
        <h1>
            88%
        </h1>
        <p>
            dos usuários preferem não voltar a um site ou aplicativo após uma experiência ruim
        </p>
    </div>
    <div>
        <img src="assets/dev.jpg" alt="Desenvolvimento de sistemas">
    </div>
    <div class="text">
        <p>
            Desenvolvemos aplicações web sob demanda utilizando as melhores práticas do mercado. Construímos Web APIs robustas e seguras em .NET e implementamos front-end sempre com a versão mais atualizada do Angular.
        </p>
    </div>
    <div class="title">
        <h1 class="playfair">Programação</h1>
    </div>
</section>