<section>
    <div>
        <h3>SimpleCode</h3>
        <ul>
            <li><a (click)="onClick($event, '#home')">Home</a></li>
            <li><a (click)="onClick($event, '#quemsomos')">Quem somos</a></li>
            <li><a (click)="onClick($event, '#servicos')">Serviços</a></li>
            <li><a (click)="onClick($event, '#contato')">Contato</a></li>
        </ul>
    </div>
    <div>
        <h3>Social</h3>
        <ul>
            <li><a href="http://instagram.com/simplecodebr/" target="_blank">Instagram</a></li>
            <li><a href="http://linkedin.com/company/simplecodesp" target="_blank">LinkedIn</a></li>
            <li><a href="https://br.pinterest.com/simplecode/" target="_blank">Pinterest</a></li>
            <li><a (click)="onClick($event, '#contato')">Fale conosco</a></li>
        </ul>
    </div>
    <div>
        <h3>Produtos</h3>
        <ul>
            <li>
                <a href="https://www.behance.net/gallery/195437771/Kmomila-Estudo-de-caso-de-UXUI" target="_blank">
                    kmomila
                </a>
            </li>
            <li>LightPaper</li>
            <li>LightPaper Lite</li>
            <li>CodeProvider</li>
        </ul>
    </div>
    <div>
        <h3>Pinterest</h3>
        <div class="pinterest">
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-01.jpg" alt="Pinterest">
            </a>
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-02.jpg" alt="Pinterest">
            </a>
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-03.jpg" alt="Pinterest">
            </a>
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-04.jpg" alt="Pinterest">
            </a>
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-05.jpg" alt="Pinterest">
            </a>
            <a href="https://br.pinterest.com/simplecode/">
                <img src="assets/pin-06.jpg" alt="Pinterest">
            </a>
        </div>
    </div>
</section>
<footer>
    <p>
        Feito com <i class="fa-solid fa-heart"></i> em São Paulo, SP, Brasil - CNPJ 10.482.912/0001-09 - Todos os direitos reservados.
    </p>
    <p>
        SimpleCode é uma marca registrada.
    </p>
</footer>