<section class="contato">
    <h1>
        <div class="lamp-off">
            <img src="assets/lamp-off.svg" alt="Lâmpada apagada">
        </div>
        <div class="lamp-on">
            <img src="assets/lamp-on.svg" alt="Lâmpada acesa">
        </div>
    </h1>
    <h1>
        Design. Desenvolvimento.<br>
        Da ideia ao produto.
    </h1>
    <h2>
        Vamos criar algo <i class="playfair">incrível</i> juntos? Entre em contato!
    </h2>
    <h2>
        <i class="fa-solid fa-envelope"></i><span class="email">info&#64;simplecode.com.br</span>
    </h2>
</section>