<div class="hero-area" id="home">
    <ng-content></ng-content>
    <img src="assets/foto.jpg" class="hero-video only-mobile" alt="Moça feliz interagindo com o celular">
    <video [muted]="true" autoplay loop class="hero-video only-desktop" poster="assets/foto.jpg">
        <source src="assets/video.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="hero-content">
        <h1 class="hero-text">
            Combinamos tecnologia e design para criar interfaces intuitivas e envolventes
        </h1>
        <a href="#contact" class="cta" (click)="onClick($event)">Solicite um orçamento</a>
    </div>
    <div class="scroll white">
        &nbsp;<i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;
    </div>
</div>