<div class="hero-area">
    <ng-content></ng-content>
    <video [muted]="true" autoplay loop class="hero-video" poster="assets/foto.jpg">
        <source src="assets/video.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="hero-content">
        <h1 class="hero-text">
            Combinamos tecnologia e design
            <br>para criar interfaces intuitivas e envolventes
        </h1>
        <a href="#contact" class="cta">Solicite um orçamento</a>
    </div>
    <div class="scroll white">
        &nbsp;<i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;
    </div>
</div>