<div class="hero-area">
    <ng-content></ng-content>
    <video autoplay muted loop playsinline class="hero-video" poster="../../../assets/3119.jpg">
        <source src="../../../assets/2496575_Business_Tablet_1280x720.mp4" type="video/mp4">
        Seu navegador não suporta o vídeo.
    </video>
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>
            Combinamos tecnologia e design para criar<br>interfaces intuitivas e envolventes
        </h1>
        <a href="#contact" class="cta">Solicite um orçamento</a>
    </div>
    <div class="scroll">
        &nbsp;<i class="fa-solid fa-arrow-down fa-bounce"></i>&nbsp;
    </div>
</div>