section {
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

i {
    background-color: #fabe0e;
    font-style: italic;
    font-weight: 500;
    padding: 0 6px;
}

@media screen and (max-width: 768px) {
    section {
        height: unset;
        padding: 80px 16px;
    }
}
