<nav class="menu">
    <a href="/" class="logo">
        <img src="../../../assets/simplecode.png" alt="logo da simplecode">
    </a>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#home">Quem somos</a></li>
        <li><a href="#about">Serviços</a></li>
        <li><a href="#services">Expertise</a></li>
        <li><a href="#contact">Contato</a></li>
        <li>
            <ul class="social">
                <li><a href="#instagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </li>
    </ul>
</nav>