<nav class="menu">
    <a href="/" class="logo">
        <img src="../../../assets/simplecode.png" alt="logo da simplecode">
    </a>
    <ul class="hide">
        <li *ngFor="let item of itemsMenu">
            <a (click)="onClick($event, item)">
                {{ item.title }}
            </a>
        </li>
        <li>
            <ul class="social">
                <li *ngFor="let item of socialMenu">
                    <a (click)="onClick($event, item)">
                        <i [class]="item.icon"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="menu-toggle" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark hide"></i>
    </div>
</nav>