.logo img {
    width: 170px;
}

.menu.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    transition:
        background-color 0.5s ease-in-out,
        backdrop-filter 0.5s ease-in-out;
}

.menu.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.menu.scrolled.fade {
    opacity: 1;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 240px);
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.menu > ul {
    gap: 64px;
}

.menu ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 1rem;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    gap: 16px;
}
